body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(56,1,63), rgba(17, 170, 124, 0.548));
}

.box{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
}




.inputUser{
    width: 90%;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: 2px;
}

.enviar{
    background-color: black;
    border: none;
    color: white;
    border-radius: 10px;
    width: 50%;
    height: 50px;
}